/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialog {
  width: 530px;
  /* Set an explicit line-height to avoid discrepancies in 'auto' spacing
     across screens with different device DPI, which may cause font metrics
     to round differently. */
  line-height: 1.5;
}

#rightBox {
  background-image: url("chrome://branding/content/about-wordmark.png");
  background-repeat: no-repeat;
  /* padding-top creates room for the wordmark */
  padding-top: 38px;
  margin-top:20px;
}

#rightBox:-moz-locale-dir(rtl) {
  background-position: 100% 0;
}

#bottomBox {
  padding: 10px 10px 0;
}

#version {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 0;
  -moz-user-select: text;
  -moz-user-focus: normal;
  cursor: text;
}

#version:-moz-locale-dir(rtl) {
  direction: ltr;
  text-align: right;
  margin-left: 5px;
  margin-right: 0;
}

#releasenotes {
  margin-top: 10px;
}

#distribution,
#distributionId {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
}

.text-blurb {
  margin-bottom: 10px;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

#updateButton,
#updateDeck > hbox > label {
  margin-inline-start: 0;
  padding-inline-start: 0;
}

.update-throbber {
  width: 16px;
  min-height: 16px;
  margin-inline-end: 3px;
  list-style-image: url("chrome://global/skin/icons/loading.png");
}

@media (min-resolution: 1.1dppx) {
  .update-throbber {
    list-style-image: url("chrome://global/skin/icons/loading@2x.png");
  }
}

description > .text-link,
description > .text-link:focus {
  margin: 0px;
  padding: 0px;
}

.bottom-link,
.bottom-link:focus {
  text-align: center;
  margin: 0 40px;
}

#currentChannel {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
